.card{
    position: relative;
    display: flex;
    width: fit-content;
    margin: auto;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
}
.card>p{
    position: absolute;
    background-color: rgb(86, 139, 255);
    padding:.5rem 1rem .5rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    right: 0;
}
.card>figure{
    display: flex;
}
.card>figure>figcaption{
    padding: 2.5rem;
    width: 28rem;
}
.card>figure>figcaption>h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: rgb(132, 132, 132);
}
.card>figure>figcaption>h3>strong{
    color: rgb(0, 0, 0);
    margin-right: .5rem;
}
.card>figure>figcaption>p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: gray;
}
.card>figure>figcaption>ul>li{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: .6rem;
    color: rgb(78, 78, 78);
}
.card>figure>figcaption>ul>li>img{
    width: 1.5rem;
    margin-right: .5rem;
    filter: invert(.3);
}
.card>figure>figcaption>ul>li>a{
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(2, 2, 2);
}
.card>figure>img{
    width: 16.4rem;
}