*{
    font-family: 'Open Sans', sans-serif;
}
main{
    height: 100vh;
    background: var(--bg-color-main);
}
header{
    background: var(--bg-color-header);
    color: var(--font-color-header);
    text-align: center;
}
header a {
    color: var(--font-color-header);
    text-decoration: none;
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
header ul li{
    padding: 1rem;
    cursor: pointer;
}
header ul li a img{
    filter: invert(1);
    width: 3rem;
}
header ul li:hover{
    background: var(--bg-color-header);
    filter: invert();
}
header ul li a{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: inherit;
    font-size:var(--font-size-a);
    font-weight: 600;
}

.btn_connect>img{
    rotate: -90deg;
}
.btn_connect{
    font-weight : 300;
}

h1{
    text-align: center;
    font-size: var(--font-size-h1);
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--bg-color-border);
    max-width: 80vw;
    padding: 1rem;
    margin: 2rem auto 1rem auto;
}
.fs_connection{
    max-width: 45vw;
    margin: auto;
    border: none;
}
.fs_connection>form{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.fs_connection>p{
    text-align: center;
    font-size: var(--font-size-p);
    margin: 1rem;
}
.fs_connection>form>input{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: var(--font-size-input);
}
.fs_connection>form>label{
    display: inline-block;
    text-align: end;
    font-size: var(--font-size-label);
}
.fs_connection>form>input[type="submit"]{
    background: var(--bg-color-btn);
    color: var(--font-color-btn);
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 10vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem auto auto auto;
    grid-column: 1/-1;
    font-size: var(--font-size-btn);
}
.fs_connection>form>input[type="submit"]:hover{
    background: var(--bg-color-btn-hover);
    color: var(--font-color-btn-hover);
    border: 1px solid var(--font-color-btn-hover);
}